<mat-toolbar color="primary">
  JAGUARDS Angular test
</mat-toolbar>

<main>
  <mat-card>
    <mat-card-content>
      <mat-horizontal-stepper linear #stepper>
        <mat-step label="Login" [stepControl]="loginForm">
          <app-login [parentForm]="loginForm"></app-login>
          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step label="Terms" [stepControl]="termsForm">
          <app-terms [parentForm]="termsForm"></app-terms>
          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="login()">Next</button>
          </div>
        </mat-step>
        <mat-step label="Done">
          You are done.
          <div fxLayout="row" fxLayoutAlign="center">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>    
  </mat-card>
</main>